<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="gbdWeather.Properties.Settings.weatherConnectionString"
            connectionString="Data Source=DESKTOP-JL9P751\SQLEXPRESS;Initial Catalog=weather;User ID=sa;Password=Qatar2022"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>