USE [master]
GO
/****** Object:  Database [weather]    Script Date: 14/11/2022 12:19:35 a. m. ******/
CREATE DATABASE [weather]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'weather', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\weather.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'weather_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\weather_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [weather].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [weather]
GO
/****** Object:  User [DESKTOP-JL9P751\yeddi]    Script Date: 14/11/2022 12:19:43 a. m. ******/
CREATE USER [DESKTOP-JL9P751\yeddi] FOR LOGIN [DESKTOP-JL9P751\yeddi] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Carvajal]    Script Date: 14/11/2022 12:19:43 a. m. ******/
CREATE USER [Carvajal] FOR LOGIN [Carvajal] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 14/11/2022 12:19:47 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[idUser] [int] IDENTITY(1,1) NOT NULL,
	[usuario] [nvarchar](50) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Jugadores] PRIMARY KEY CLUSTERED 
(
	[usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Weather]    Script Date: 14/11/2022 12:19:47 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Weather](
	[idClima] [int] IDENTITY(1,1) NOT NULL,
	[Temperatura] [decimal](18, 0) NULL,
	[Precipitacion] [decimal](18, 0) NULL,
	[Humedad] [decimal](18, 0) NULL,
	[VelocidadViento] [decimal](18, 0) NULL,
 CONSTRAINT [PK_Weather] PRIMARY KEY CLUSTERED 
(
	[idClima] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
